
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 80px;
  background: #04000c;
  color: white;
}

/* LEFT IMAGE */
.left img {
  width: 450px;
  height: 500px;
  /* border-radius: 50%; */
  object-fit: cover;

  border: 4px solid transparent;
  /* background: linear-gradient(#04000c, #04000c) padding-box,
              linear-gradient(45deg, #00f5ff, #973bed) border-box; */

  animation: float 3s ease-in-out infinite;
}

/* FLOAT ANIMATION */
@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

/* RIGHT SIDE */
.right {
  width: 55%;
}

/* INTRO */
.intro h1 {
  font-size: 35px;
}

.intro span {
  background: linear-gradient(90deg, #00f5ff, #973bed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro p {
  margin-top: 20px;
  line-height: 1.6;
    font-size: 20px;
  color: #ccc;
}

.extra {
  margin-top: 20px;
}

/* ROLE BOX */
.role-box {
  animation: fadeIn 1s ease-in-out;
}

.role-title {
  font-size: 35px;

  background: linear-gradient(90deg, #00f5ff, #ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.role-desc {
  margin-top: 20px;
  font-size: 20px;
  color: #ccc;
}

/* FADE */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
