/* .navbar {
  position: sticky;
  top: 0;
  width: 100%;

  padding: 10px 20px; 

  display: grid;
    grid-template-columns: 1fr auto 1fr; 
  justify-content: space-between;
  align-items: center;

  background: rgba(4, 0, 12, 0.8);
  backdrop-filter: blur(10px);

  border-bottom: 1px solid var(--border-color);
  z-index: 1000;
} */


.navbar {
  position: sticky;
  top: 0;
  width: 100%;

  padding: 10px 20px;

  display: grid;
  grid-template-columns: 1fr auto 1fr; /* 🔥 KEY FIX */

  align-items: center;

  background: rgba(4, 0, 12, 0.8);
  backdrop-filter: blur(10px);

  border-bottom: 1px solid var(--border-color);
  z-index: 1000;
}
/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--accent-primary);
  letter-spacing: 1px;
  justify-self: start;
   width: 240px; /* 🔥 FIXED WIDTH */
  overflow: hidden;
}

/* Nav Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 45px;
  color: rgb(255, 255, 255);
   justify-self: center;  /* 🔥 ALWAYS CENTER */
}

.nav-links li a {
  text-decoration: none;
  color: var(--text-secondary);
  font-size: 15px;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: var(--accent-secondary);
}

/* Button */
.nav-btn {
  padding: 8px 18px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
 justify-self: end;  /* 🔥 ALWAYS CENTER */
  background: var(--accent-gradient);
  color: rgb(0, 0, 0);
  font-weight: 600;

  transition: 0.3s;
}

.nav-btn:hover {
  transform: scale(1.05);
  /* box-shadow: 0 0 10px #6c63ff; */
}

.logo-text {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;

  background: linear-gradient(90deg, #00f5ff, #973bed, #ff00ff, #00f5ff);
  background-size: 300%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* animation: gradientMove 5s linear infinite; */
    animation: typing 3s steps(20, end) forwards, blink 0.7s infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 300%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 220px;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


.typing {
  font-size: 24px;
  color: white;

  border-right: 2px solid #00f5ff;
  white-space: nowrap;
  overflow: hidden;

  width: 0;
  animation: typing 3s steps(20, end) forwards, blink 0.7s infinite;
}